.form_control {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 15px; 
}

.form_control label {
    font-weight: bold; 
    font-size: 20px;
    width: 120px;
    margin-right: 10px; 
}

.form_control input {
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 20px; 
}

.form_control input:focus {
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}


.form_control textarea.textareaDescricao {
    height: 75px;
    resize: none; /* Impede o redimensionamento */
    overflow: auto; 
    line-height: 1.5em; 
    padding-top: 10px; 
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 20px;
    padding-left: 10px;
    margin-left: 13px;
}

  
  
  
  
  